@import "./_mixins";

// BASE STYLING
* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  overflow: visible;
  &::-webkit-scrollbar { width: 0 !important }

}
html, body {
  width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: @base-font-family;
  .font-light();
  font-size: @base-font-size; // BASE FONT SIZE
  color: @theme-color-text-grey;
  line-height: 1.3em;
  padding: 0;
  margin: 0;

  @media screen and (max-width: @breakpoint-md) {
    font-size: 16px;
  }
}
// Remove the autocomplete syling in WebKit
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent !important;
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

p {
  margin: 0;
}
h1 {
  display: none !important;
}
h1, h2, h3, h4, h5, h6 {
  color: @theme-color-text-black;
  .font-bold();
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: @theme-color-text-grey;
  transition: color 0.3s;
  &:hover,
  &:focus,
  &:active {
    color: lighten(@theme-color-text-grey, 20%);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.txt-center {
  text-align: center;
}

.pad-left {
  padding-left: @base-padding;
  @media screen and (max-width: @breakpoint-sm) {
    padding-left: @base-padding / 2;
  }
}
.pad-right {
  padding-right: @base-padding;
  @media screen and (max-width: @breakpoint-sm) {
    padding-right: @base-padding / 2;
  }
}


.bg-white {
  background-color: @theme-color-white;
}
.bg-blue {
  background-color: @theme-color-blue;
}
.bg-green {
  background-color: @theme-color-green;
}
.bg-shark-a {
  background-color: @theme-color-shark-a;
}
.bg-shark-b {
  background-color: @theme-color-shark-b;
}
.bg-shark-c {
  background-color: @theme-color-shark-c;
}
.bg-input-color {
  background-color: @theme-color-input-bg;
}


.txt-white {
  color: @theme-color-white;
}
.txt-blue {
  color: @theme-color-blue;
}
.txt-green {
  color: @theme-color-green;
}
.txt-shark-a {
  color: @theme-color-shark-a;
}
.txt-shark-b {
  color: @theme-color-shark-b;
}
.txt-shark-c {
  color: @theme-color-shark-c;
}
.txt-black {
  color: @theme-color-text-black;
}
.txt-grey {
  color: @theme-color-text-grey;
}
.txt-contact {
  color: @theme-color-text-contact;
}

.btn-circle {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 40px;
  .font-regular();
  font-size: 1.33rem;
  transition: background-color 0.3s;

  &:hover {
    &.bg-blue {
      background-color: lighten(@theme-color-blue, 5%);
    }
    &.bg-shark-b {
      background-color: lighten(@theme-color-shark-b, 5%);
    }
    &.txt-white {
      color: @theme-color-white;
    }

  }
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.no-flex {
    display: block;
  }
}

#main {
  padding: @base-padding / 2;
}